*{
    padding: 0;
    margin: 0;
}

html{
    overflow: scroll;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar{
    height: 0px;
    width: 0px;
    /* background: transparent; */
}

body{
    background: url(../image/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    height: 80vh;
    width: 3650vw;
    background-image: url(../image/city.avif);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
}
.boy{
    width: 450px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 300px;
    left: -70vw;
}

.containeranimay{
    height: 50vh;
    width: 3550vw;
    position: absolute;
    bottom: 0;
    left: 100vw;
}

.road{
    width: 3650vw;
    height: 20vh;
    background: url(../image/road.jpg);
    background-position: center;
    background-repeat:repeat-x;
    background-size: contain;
    position: absolute;
    bottom: 0;
}

/* Game over box */

.gameover{
    position: absolute;
    font-size: 500px;
    font-weight: bolder;
    top: 400px;
    left: 1094px;
    width: 3061px;
    height: 600px;
    color: #ff0006;
    visibility: hidden;
    text-shadow: -47px 2px 1px black;
}

/* High score box */

.highscore{
    position: absolute;
    top: 1000px;
    width: 1400px;
    left: 1658px;
    height: 300px;
    font-size: 200px;
    color: rgb(237 255 1);
    visibility: hidden;
    text-shadow: -25px 2px 14px red;
}

/* Score box */

#scoreCount{
    position: absolute;
    top: 200px;
    width: 1400px;
    height: 300px;
    font-weight: bolder;
    font-size: 200px;
    color: rgb(0 255 231);
    left: 1597px;
    text-shadow: -25px 2px 14px red;
}

.gamenamehomepage{
    position: absolute;
    top: 200px;
    left: 1400px;
    font-size: 300px;
    color: rgb(237 255 1);
    text-shadow: -25px 2px 14px red;
    outline-style: none;
    outline: none
}

.developedby{
    position: absolute;
    top: 580px;
    width: 1400px;
    height: 300px;
    font-weight: bolder;
    font-size: 200px;
    color: rgb(0 255 231);
    left: 1650px;
    text-shadow: -25px 2px 14px red;
}

.nameamanvivek{
    position: absolute;
    font-size: 200px;
    font-weight: bolder;
    top: 900px;
    left: 1000px;
    width: 3061px;
    height: 600px;
    color: #ff0006;
    text-shadow: -23px -1px 19px black;
}

.btn{
    position: absolute;
    font-size: 80px;
    font-weight: bolder;
    top: 1200px;
    left: 2000px;
    padding: 40px;
    border-radius: 200px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 20px;
    cursor: pointer;
}

.none{
    display: none;
}

#end{
    background-color: red;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #00bdff , #9fcd39 , #ff2f2f);
    animation: animate 1.5s linear infinite;
}

@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }
}

.endscore{
    position: absolute;
    font-size: 200px;
    font-weight: bolder;
    top: 35px;
    left: 1661px;
    text-shadow: -25px 2px 14px red;
}

.endhighscore{
    position: absolute;
    font-size: 200px;
    font-weight: bolder;
    top: 270px;
    left: 1625px;
    text-shadow: -25px 2px 14px red;
}

.playagainbtn{
    position: absolute;
    font-size: 70px;
    font-weight: bolder;
    top: 1300px;
    left: 500px;
    padding: 50px;
    border-radius: 200px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    box-shadow: 20px 20px 10px 0px rgb(84, 0, 0);
    text-shadow: -25px 2px 14px red;
}

.playagainbtn:hover{
    font-size: 80px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 250, 250);
    box-shadow: 20px 20px 10px 0px rgb(3, 250, 56);
}

.playagainbtn:active{
    font-size: 70px;
    color: rgb(0, 255, 42);
    background-color: black;
    box-shadow: 20px 20px 10px 0px rgb(0, 60, 255);
}

.quitgamebtn{
    position: absolute;
    font-size: 70px;
    font-weight: bolder;
    top: 1300px;
    left: 3500px;
    padding: 50px;
    border-radius: 200px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    text-shadow: -25px 2px 14px red;
    box-shadow: 20px 20px 10px 0px rgb(84, 0, 0);
}

.quitgamebtn:hover{
    font-size: 80px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 250, 250);
    box-shadow: 20px 20px 10px 0px rgb(3, 250, 56);
}

.quitgamebtn:active{
    font-size: 70px;
    color: rgb(0, 255, 42);
    background-color: black;
    box-shadow: 20px 20px 10px 0px rgb(0, 60, 255);
}

.homepagebtn{
    position: absolute;
    font-size: 70px;
    font-weight: bolder;
    top: 1300px;
    left: 1975px;
    padding: 50px;
    border-radius: 200px;
    color: white;
    background-color: black;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    box-shadow: 20px 20px 10px 0px rgb(84, 0, 0);
    text-shadow: -25px 2px 14px red;
}

.homepagebtn:hover{
    font-size: 80px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 250, 250);
    box-shadow: 20px 20px 10px 0px rgb(3, 250, 56);
}

.homepagebtn:active{
    font-size: 70px;
    color: rgb(0, 255, 42);
    background-color: black;
    box-shadow: 20px 20px 10px 0px rgb(0, 60, 255);
}

.containerend3 {
    position: relative;
    top: 700px;
    width: 60%;
    font-size: 150px;
    color: #000000;
    left: 800px;
    text-shadow: -25px 2px 14px red;
}

.beforegamestart{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    font-size: 60px;
    color: aliceblue;
}

.beforegamestartname{
    position: relative;
    top: 500px;
    left: 1500px;
    font-size: 400px;
    color: aliceblue;
    animation-duration: 2s;
    animation-name: namestart;
}

.beforegamestartanime{
    position: relative;
    background-image: url(../image/beforestart.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 450px;
    top: 371px;
    right: 371px;
}

@keyframes namestart{
    from{
        translate: 150vw 0;
        scale: 200% 1;
    }
    to{
        translate: 0 0;
        scale: 100% 1;
    }
}

.disable{
     user-select: none;
}